

footer{
    color:#2c1ea9;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px -4px 1px rgb(209, 209, 209);
    font-weight: 700;
    background: #fbfbfb
}