<div class="row">

  <h1 class="titulo__">Hard and Soft Skills</h1>

  <button type="button" class="btn1 btn-outline-dark" routerLink="/newskill" *ngIf="isLogged">Nueva Habilidad</button> 

  <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
    <circle-progress
      [percent]="skill.porcentaje"
      [radius]="100"
      [imageSrc]="''"
      [showImage]="false"
      [title]="skill.nombre"
      [titleColor]="'#212f3c'"
      [showTitle]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#080433'"
      [innerStrokeColor]="'#33348a'"
      [animation]="true"
      [animationDuration]="500"
    >
    </circle-progress>


    <div class="btn__hys">
      <td *ngIf="isLogged">
        <button class="btn1 btn-light" routerLink="/editskill/{{ skill.id }}">
          <i class="bi bi-pencil-square"></i>
        </button>
      </td>

      <td *ngIf="isLogged">
        <button class="btn btn-outline-danger" (click)="delete(skill.id)">
          <i class="bi bi-trash"></i>
        </button>
      </td>

    </div>
 



  </div>
</div>
